@media (max-width: 1024px) {
    header nav ul {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 480px) {
    header nav ul {
        display: none;
        flex-direction: column;
    }

}





