* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #c0ccb1;
  align-items: center;
  padding: 15px;
  background: rgb(182, 182, 194);
  background: linear-gradient(90deg, rgb(182, 182, 194) 31%, rgb(46, 46, 56) 60%);
}

header img {
  width: 120px;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  margin: 5px;
  color: #1f2532;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

header div {
  display: flex;
  align-items: center;
}

header div img {
  width: 30px;
}

.icono-buscador {
  margin-right: 10px;
  margin-left: 30px;
}

main h1 {
  font-size: 25px;
  color: #1f2532;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c0ccb1;
  text-align: center;
  padding: 25px 70px 25px 70px;
  display: inline-block;
  align-items: center;
  margin-left: 430px;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 15px;
  transition: 2s;
}
main h1:hover {
  transform: scale(0.2);
}

@keyframes cambiarColor {
  0% {
    color: grey;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}
main em p {
  align-items: center;
  margin-left: 360px;
  margin-right: 80px;
  margin-bottom: 50px;
  animation-name: cambiarColor;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-delay: 6s;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 250px);
  row-gap: 1px;
  column-gap: 25px;
}

.grid-item-1 {
  align-items: center;
  height: 200px;
  width: 100px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-left: 160px;
  gap: 5px;
  transition: 2s;
}
.grid-item-1:hover {
  transform: rotate(-30deg);
}

.grid-item-2 {
  align-items: center;
  width: 100px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-left: 120px;
  gap: 5px;
  transition: 2s;
}
.grid-item-2:hover {
  transform: rotate(-30deg);
}

.grid-item-3 {
  align-items: center;
  width: 100px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-left: 100px;
  gap: 5px;
  transition: 2s;
}
.grid-item-3:hover {
  transform: rotate(-30deg);
}

.grid-item-4 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1px 20px 20px 35px;
  align-items: center;
}

.grid-item-5 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1px 20px 20px;
  align-items: center;
}

.grid-item-6 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1px 35px 20px;
  align-items: center;
}

.maps {
  margin-top: 40px;
  margin-right: 60px;
  margin-bottom: 80px;
  margin-left: 400px;
  align-items: center;
}

.contacto-1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 60px);
  row-gap: 1px;
  column-gap: 50px;
}

.grid.dir {
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 15px;
  align-items: center;
}

.grid-img {
  align-items: center;
  margin-left: 120px;
}

.grid-redes {
  margin-left: 225px;
  margin-right: 10px;
  margin-top: 20px;
  align-items: flex-end;
}

.icono-ig {
  width: 45px;
}

.icono-fb {
  width: 45px;
}

.imagen-es {
  width: 170px;
}

a {
  text-decoration: dotted;
  color: #1f2532;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

@keyframes girarElemento {
  0% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.icono-wpp {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 60px;
  transition: 2s;
  animation-name: girarElemento;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s;
}
.icono-wpp:hover {
  transform: rotate(360deg);
}

@media (max-widht: 320px) {
  header nav ul li {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
