@mixin boton ($color, $padding, $text-color){
    background-color: $color;
    padding: $padding;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: $text-color;
    border-radius: 5px;
}

.section-botones{
    display: flex;
    justify-content: center;
    gap: 20px;

    a:first-child{
        @include boton1 (grey, 5px, black);
        
    }
}

/*
el boton está en el archivo html quienes somos

*/